<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div style="text-align:center;padding-top:175px;">
		    <img style="width:600px;max-width:100%;max-height:100%" src="/greenBoard.jpeg"/>
	</div>
    <div style="height:190px;"></div>
    <div style="text-align:center;background-color: #f2f2f2;height: 40px;">
    	<p style="padding-top:10px;font-family: serif;">© 2017&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;thinkNormal Inc.</p>
    </div>
    	
 </body>
 </html>